$body-color: #00FFFF;

body {
    background-color: $body-color;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 20px;
}

ul {
    padding: 0 0 0 20px; 
    margin: 0; 
    list-style: none;
}
